<div class="options">
    <button class="bars" (click)="onClick()">
        <mat-icon>menu</mat-icon>
    </button>

    <button class="icon" (click)="toggleModal('friendRequest')">
        <mat-icon>groups</mat-icon>
        <span class="icon_tool-tip">Friend Requests</span>
    </button>
    
    <button class="icon" (click)="toggleModal('addUser')">
        <mat-icon>person_add</mat-icon>
        <span class="icon_tool-tip">Add Person</span>
    </button>



    <button class="icon" (click)="toggleModal('addGroup')">
        <mat-icon>group_add</mat-icon>
        <span class="icon_tool-tip">Add Group</span>
    </button> 

    <button class="icon" (click)="toggleModal('createGroup')">
        <mat-icon>group</mat-icon>
        <span class="icon_tool-tip">Create Group</span>
    </button>
    
    <button class="icon" (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span class="icon_tool-tip">Log Out</span>
    </button>

</div>
<app-add-user [isVisible]="modals.addUser" (closeModalEvent)="toggleModal('addUser')"></app-add-user>
<app-add-group [isVisible]="modals.addGroup" (closeModalEvent)="toggleModal('addGroup')"></app-add-group>
<app-create-group [isVisible]="modals.createGroup" (closeModalEvent)="toggleModal('createGroup')"></app-create-group>
<app-friend-requests [isVisible]="modals.friendRequest" (closeModalEvent)="toggleModal('friendRequest')"></app-friend-requests>

