<div class="app-container">
    <div class="landing-cover">
        <app-header></app-header>
        <div class="section">
            <p class="section-text">Instant Chats, Endless Possibilities</p>
            <button class="section-button">Donwload Our App</button>
        </div>
    </div>
    <section class="download-section">
        <p>
            Try the new alternative of social media, <strong>ChatWave</strong> allows you to take in touch with your
            friends and family anytime and
            everywhere, share your ideas and feelings with them!
        </p>
        <button>
            Download Our App
        </button>
    </section>
    <app-footer></app-footer>
</div>
