<div class="modal-overlay" *ngIf="isVisible" (click)="closeModal()"></div>
<div class="modal-content" *ngIf="isVisible">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-search">

        <input #userInput  [(ngModel)]="searchTerm" placeholder="Find a user" class="search-input" (keyup.enter)="getUsers(1)">
        <div class="search-icon" (click)="getUsers(1)">
            <mat-icon>search</mat-icon>
        </div>
    </div>
    <div class="filters-row">
        <div class="select-container">
            <select [(ngModel)]="sortOrder" class="filters-select">
                <option selected value="asc">Ascendent</option>
                <option value="desc">Descendent</option>
            </select>
            <span class="material-icons select-icon">arrow_drop_down</span>
        </div>

        <div class="select-container">
            <select [(ngModel)]="sortColumn" class="filters-select">
                <option selected value="name">Name</option>
                <option value="username">Username</option>
            </select>
            <span class="material-icons select-icon">arrow_drop_down</span>
        </div>

        <div class="pagination">
            <button class="arrow-button" (click)="goToPage(currentPage - 1)">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <a class="pagination-numbers" *ngFor="let page of [].constructor(totalPages);let i = index"
                (click)="goToPage(i +1)">
            {{i + 1}}
            </a>        
            <button class="arrow-button" (click)="goToPage(currentPage + 1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="search-result">
        <div class="result-info" *ngFor="let item of result">
            <div class="result-content">
                <div class="result-image">
                    <img [src]="'data:image/png;base64,' + item.profileImage" alt="Profile Image" />
                </div>
                <div class="result-title">{{item.username}}</div>
            </div>
            <button 
            class="result-button" 
            [disabled]="getFriendshipStatus(item.id) !== 'Add Friend'"
            (click)="makeRequest(item.id)">
            {{getFriendshipStatus(item.id)}}
            </button>
        </div>
    </div>
</div>